.container{
  /* padding: 10px; */
  width: 100%;
  max-width: 600px;
  min-height: 150px;
  margin: 0px auto;
  border-radius: 4px;
  background-color: rgba(46, 46, 46, 70%);
  text-align: left;
  padding: 1.5% 8%;
}

.response {
  color: #dbdbdb;
  font-size: 40px;
}